ion-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contador{
    color: white;
    background-color: #400082;
    border-radius: 10px;
    width: 50%;
}

.botoncarro{
    border-radius: 5px;
    color: white;
    background-color: #400082;
    margin: 5px;
  }
